# Suppress Node.js DEP0155 deprecation warnings from package exports
# These are from @iconify/utils and @vue/shared, not our code
# See: https://nodejs.org/en/docs/guides/nodejs-performance-getting-started/
silent=true
loglevel=warn
